# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: run test
      run: |
        npm ci
        npm run build
        npm run fmt:check

  sc-project-initializer-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-latest
          - windows-latest
          - windows-2022
          - macos-latest
          - macos-11
          - macos-12
    needs: build
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-node@v3
          with:
              node-version: "16"
              cache: "npm"
        - name: install
          run: |
            npm ci
            npm run build
        - name: run sc-project-initializer init
          run: npx sc-project-initializer init testDir
        - name: run target tests
          run: |
              cd testDir
              npm run build
              npm run test
              npm run fmt
