name: Npm nightly publish

on:
  push:
    branches: [ main ]

jobs:
  test:
    uses: ./.github/workflows/node.js.yml

  publish-npm-dev:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: publish
        run: |
         npm pkg delete scripts.prepare
         npm ci
         npm run build
         ./scripts/publish-dev.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
