name: Release workflow

on:
  push:
    tags:
      - v*

jobs:
  test:
    uses: ./.github/workflows/toolkit-ci-tests.yml

  publish-npm-release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - run: ./scripts/publish-release.sh ${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
          GITHUB_TOKEN: ${{ github.token }}
