name: Release workflow

on:
  release:
    types: [ created ]
  push:

jobs:
  test:
    uses: ./.github/workflows/node.js.yml

  publish-npm:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: publish
        run: |
          npm ci
          npm run build
          npm run init
          npm publish --ws --access public --dry-run
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
